<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.ssc.OrgDao">
    <insert id="addTopOrg" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO 
            sailor_org
        (org_name, parent_id, ancestors, order_num)
        VALUES 
        (#{orgName}, #{parentId}, #{ancestors}, #{orderNum})
    </insert>
    
    <insert id="addSubOrg" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO 
            sailor_org
        (org_name, parent_id, ancestors, order_num)
        VALUES 
        (#{orgName}, #{parentId}, #{ancestors}, #{orderNum})
    </insert>
    
    <update id="updateOrg">
        UPDATE 
            sailor_org
        SET 
            org_name = #{orgName},
            ancestors = #{ancestors},
            order_num = #{orderNum}
        WHERE 
            id = #{id}
    </update>
    
    <update id="deleteByIds">
        UPDATE 
            sailor_org
        SET delete_time = now()
        WHERE 
            id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="getAllRegion" resultType="com.horaoen.sailor.web.model.ssc.OrgDo">
        SELECT *
        FROM sailor_org AS o
        WHERE o.delete_time IS NULL
    </select>
    
    <select id="selectOrgById" resultType="com.horaoen.sailor.web.model.ssc.OrgDo">
        SELECT *
        FROM sailor_org AS o
        WHERE o.id = #{orgId}
            AND o.delete_time IS NULL
    </select>
    
    <select id="selectByParentIdAndOrgName" resultType="com.horaoen.sailor.web.model.ssc.OrgDo">
        SELECT *
        FROM sailor_org AS o
        WHERE o.parent_id = #{parentId}
            AND o.org_name = #{orgName}
            AND o.delete_time IS NULL
    </select>
    
    <select id="selectOrgByUserId" resultType="com.horaoen.sailor.web.model.ssc.OrgDo">
        SELECT *
        FROM sailor_org AS o
        WHERE o.id IN (
            SELECT org_id FROM sailor_user_org WHERE user_id = #{userId}
        )
            AND o.delete_time IS NULL
    </select>
    
    <select id="selectOrgByStudentId" resultType="com.horaoen.sailor.web.model.ssc.OrgDo">
        SELECT *
        FROM sailor_org AS o
        WHERE o.id IN (
            SELECT org_id FROM sailor_student_org WHERE student_id = #{studentId}
        )
            AND o.delete_time IS NULL
    </select>
</mapper>
