<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.ssc.StudentOrgDao">

    <insert id="insert">
        INSERT INTO sailor_student_org (
            student_id,
            org_id
        ) VALUES (
            #{studentId},
            #{orgId}
        )
    </insert>
    
    <update id="update">
        UPDATE sailor_student_org
        SET org_id = #{orgId}
        WHERE student_id = #{studentId}
    </update>
    
    <delete id="deleteByStudentId">
        DELETE FROM sailor_student_org WHERE student_id = #{studentId}
    </delete>
    
    <select id="countStudentByOrgId" resultType="java.lang.Integer">
        COUNT(*) FROM sailor_student_org WHERE org_id = #{orgId}
    </select>
    
    <select id="selectOrgIdByStudentId" resultType="java.lang.Long">
        SELECT org_id FROM sailor_student_org WHERE student_id = #{studentId}
    </select>
</mapper>
