<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.scc.OrgDao">

    <select id="getAllRegion" resultType="com.horaoen.sailor.web.model.scc.OrgDo">
        SELECT *
        FROM sailor_org AS o
        WHERE o.delete_time IS NULL
    </select>
</mapper>
