<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.scc.UserOrgDao">

    <insert id="insert">
        insert into sailor_user_org (
            user_id,
            org_id
        ) values (
            #{userId},
            #{orgId}
        )
    </insert>
    <update id="update">
        update sailor_user_org set
            org_id = #{orgId}
        where user_id = #{userId}
    </update>
</mapper>
