<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.cms.GroupPermissionDao">

    <insert id="insert">
        INSERT INTO sailor_group_permission (group_id, permission_id)
        VALUES (#{groupId}, #{permissionId})
    </insert>
    
    <delete id="deleteByGroupId">
        DELETE FROM sailor_group_permission
        WHERE group_id = #{id}
    </delete>

    <select id="selectByGroupId" resultType="java.lang.Long">
        SELECT permission_id 
        FROM sailor_group_permission 
        WHERE group_id = #{id}
    </select>
</mapper>
