<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.cms.GroupDao">
    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sailor_group (
            name,
            info
        ) VALUES (
            #{groupName},
            #{groupInfo}
        )
    </insert>
    
    <update id="deleteGroup">
        UPDATE sailor_group
        SET
            delete_time = now()
        WHERE
            id = #{id}
    </update>
    
    <update id="updateGroup">
        UPDATE sailor_group
        SET
            name = #{name},
            info = #{info},
            update_time = now()
        WHERE
            id = #{id}
    </update>

    <select id="selectGroupByLevel" resultType="com.horaoen.sailor.web.model.cms.GroupDo">
        SELECT *
        FROM sailor_group
        WHERE level = #{level}
          AND delete_time IS NULL
    </select>

    <select id="selectUserGroupsByUserId" resultType="com.horaoen.sailor.web.model.cms.GroupDo">
        SELECT g.id,
               g.name,
               g.info,
               g.level,
               g.create_time,
               g.update_time,
               g.delete_time
        from sailor_group AS g
        WHERE g.delete_time IS NULL
          AND g.id IN
              (SELECT ug.group_id
               FROM sailor_user AS u
                        LEFT JOIN sailor_user_group as ug
                                  ON ug.user_id = u.id
               WHERE u.id = #{userId}
                 AND u.delete_time IS NULL)
    </select>
    
    <select id="selectAllGroups" resultType="com.horaoen.sailor.web.model.cms.GroupDo">
        SELECT *
        FROM sailor_group
        WHERE delete_time IS NULL
    </select>
    
    <select id="selectGroupById" resultType="com.horaoen.sailor.web.model.cms.GroupDo">
        SELECT *
        FROM sailor_group
        WHERE id = #{id}
          AND delete_time IS NULL
    </select>
    <select id="selectGroupByName" resultType="com.horaoen.sailor.web.model.cms.GroupDo">
        SELECT *
        FROM sailor_group
        WHERE name = #{name}
          AND delete_time IS NULL
    </select>
</mapper>
