<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.cms.UserGroupDao">
    <insert id="insert">
        INSERT INTO sailor_user_group(user_id, group_id)
        VALUES (#{userId}, #{groupId})
    </insert>
    
    <insert id="insertUserGroups">
        INSERT INTO sailor_user_group(user_id, group_id)
        VALUES
        <foreach collection="groupIds" item="groupId" separator=",">
            (#{userId}, #{groupId})
        </foreach>
    </insert>
    
    <delete id="deleteUserGroupsByUserId">
        DELETE FROM sailor_user_group
        WHERE user_id = #{userId}
    </delete>

    <select id="selectUserByGroupId" resultType="com.horaoen.sailor.web.model.cms.UserGroupDo">
        SELECT *
        FROM sailor_user_group
        WHERE group_id = #{groupId}
          AND delete_time IS NULL
    </select>
    
</mapper>
