<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.cms.UserDao">
    <insert id="insert" parameterType="UserDo">
        INSERT INTO sailor_user(username,
                                nickname,
                                avatar,
                                email)
        values (#{username},
                #{nickname},
                #{avatar},
                #{email})
    </insert>
    
    <update id="deleteById">
        UPDATE sailor_user
        SET delete_time = now()
        WHERE id = #{userId}
    </update>

    <select id="selectCountByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sailor_user as u
        WHERE u.username = #{username}
          AND u.delete_time IS NULL
    </select>

    <select id="selectCountById" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sailor_user as u
        WHERE u.id = #{id}
          AND u.delete_time IS NULL
    </select>

    <select id="selectCountByEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
        CREATE
        Count(*) 
        FROM sailor_user as u 
        WHERE u.email =
        #{email}
        AND
        u
        .
        delete_time
        IS
        NULL
    </select>


    <select id="selectUsersExcludedRoot" resultType="com.horaoen.sailor.web.model.cms.UserDo">
        SELECT u.username,
               u.nickname,
               u.avatar,
               u.email
        FROM sailor_user AS u
        WHERE u.id != #{rootUserId}
          AND u.delete_time IS NULL
    </select>
    
    <select id="selectUsersByGroupExcludedRoot" resultType="com.horaoen.sailor.web.model.cms.UserDo">
        SELECT *
        FROM sailor_user AS u
        WHERE u.id IN 
        (
            SELECT ug.user_id
            FROM sailor_user_group AS ug
            WHERE
                <if test="groupId != null">
                    ug.group_id = #{groupId}
                    AND
                </if>
               ug.group_id != #{rootGroupId}
        )
            AND u.delete_time IS NULL
    </select>
    
    <select id="selectByUsername" resultType="com.horaoen.sailor.web.model.cms.UserDo">
        SELECT *
        FROM sailor_user AS u
        WHERE u.username = #{username}
          AND u.delete_time IS NULL
    </select>
    <select id="getUserByUserId" resultType="com.horaoen.sailor.web.model.cms.UserDo">
        SELECT *
        FROM sailor_user AS u
        WHERE u.id = #{userId}
          AND u.delete_time IS NULL
    </select>


</mapper>
