<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horaoen.sailor.web.dao.PermissionDao">

    <select id="getAllPermissions" resultType="com.horaoen.sailor.web.model.PermissionDo">
        SELECT *
        FROM sailor_permission AS p
        WHERE p.delete_time IS NULL
            AND p.mount = #{mounted}
    </select>
    <select id="selectPermissionsByGroupId" resultType="com.horaoen.sailor.web.model.PermissionDo">
        SELECT *
        FROM sailor_permission AS p
        WHERE  p.id in (
            SELECT permission_id
            FROM sailor_group_permission AS gp
            WHERE gp.group_id = #{id}
        ) AND p.delete_time IS NULL
    </select>
    <select id="selectPermissionById" resultType="com.horaoen.sailor.web.model.PermissionDo">
        SELECT *
        FROM sailor_permission AS p
        WHERE p.id = #{id}
            AND p.delete_time IS NULL
    </select>
</mapper>
